PORT=4000
APP_URL=http://localhost:3000
DATABASE_URL=

# Descope Auth & Outbound Calendar OAuth
DESCOPE_PROJECT_ID=
DESCOPE_MANAGEMENT_KEY=
DESCOPE_CALENDAR_CONNECTION_ID=

# Free Fast LLM Inference via Groq 
GROQ_API_KEY=
MODEL_PROVIDER=
MODEL_NAME=
GROQ_CLASSIFIER_MODEL= # If using free ones. Recommended to use both diffrent models for better accuracy, and to avoid rate limiting. If you have a paid Groq account, you can use the same model for both.

# Fallback API keys (optional)
# OPENAI_API_KEY=
# GOOGLE_API_KEY=

LANGSMITH_TRACING=
LANGSMITH_ENDPOINT=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=